.btn-danger i {
    transition: transform 0.3s ease;
}

.btn-danger:active i {
    transform: rotate(20deg);
} 

@media (max-width: 767.98px) {
    
    .form-row label {
        /* margin-bottom: 0.5rem; */
    }

    .salary-section {
        /* margin-bottom: 1rem; */
    }
}

.form-row {
    /* font-family: League Spartan; */
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}